$primary-background: linear-gradient(90.02deg, #25335A 0.02%, #141824 113.01%);

@mixin mytext {
    font-family: 'Open Sans';
    font-style: normal;
    color: #FFFFFF;
}
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
@mixin flex-center-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin flex-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-wrapper {
    @include flex-center-space-around;  
    flex-direction: column;
    padding-top: 64px;
}
.activity-card-wrapper {
    @include reset-list;
}
.activity-card {
    @include flex-center-space-between;
    width: 660px;
    height: 184px;
    margin-bottom: 64px;
    border-radius: 16px;
    background: $primary-background;

    .activity-text-container {
        margin-top: 72px;
        margin-left: 40px;
        @include mytext;
    
        .activity-title {   
            font-weight: 400;
            font-size: 24px;
            line-height: 33px;
        }
        .activity-time {
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
        }
    }
}
.activity-img-container {
    padding-top: 33px;
    padding-right: 50px;
}